{% extends 'base.html' %}
{% block title %} -Detail {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-5"><br><br></div>
    <div class="col-md-8" panel panel-default>
       <p><img src="{{object.photo.url}}" style="width:100%;"></p>
         <button type="button" class="btn btn-lg bin-info">
            {{object.author.username}}
        </button>
        <p class="bg-warning">{{object.text|linebreaksbr}}</p>

        <a href="{% url 'photo:photo_delete' pk=object.id %}"
           class="btn btn-outline-danger btn-lg float-right">
            DELETE
        </a>
        <a href="{% url 'photo:photo_update' pk=object.id %}"
           class="btn btn-outline-success btn-lg float-right">
           UPDATE
        </a>
    </div>
    <div class="col-md-5"><br><br></div>
</div>
{% endblock %}